:root {
  --theme-spacing: 8px;
  --theme-icon-size: 16px;
  --theme-icon-pad: 8px;
  --theme-border-radius: 8px;
}
@-moz-document regexp("moz-extension://.*/sidebar/sidebar.html.*") {
  :root {
    --tab-border-radius-size: var(--theme-border-radius) !important;
    --theme-sidebar-width: calc(var(--theme-spacing) * 2 + (var(--theme-icon-size) + var(--theme-icon-pad) * 2) * 8);
    --theme-button-size: calc(var(--theme-icon-size) + var(--theme-icon-pad) * 2);
    --theme-urlbar-height: calc(1em + var(--theme-spacing) * 2);
  }
  #tabbar {
    margin: var(--pinned-tabs-area-size) var(--theme-spacing) 0 var(--theme-spacing) !important;
/*flex-direction: column-reverse;
		bottom: unset !important;*/
  }
  tab-favicon {
    margin: 0 !important;
  }
  tab-label {
    margin-left: 1ch !important;
  }
  tab-item:not(.pinned) > tab-item-substance {
    padding: var(--theme-spacing) !important;
  }
  tab-item.active .background {
    box-shadow: 0 2px 2px var(--browser-tab-highlighter, var(--tab-active-border-near)) !important;
  }
  tab-closebox {
    padding: 0 !important;
    margin: 0 !important;
  }
  tab-closebox::before {
    border-radius: var(--theme-border-radius) !important;
  }
  tab-item:not(:hover) tab-closebox {
    display: none;
  }
  tab-twisty {
    position: absolute !important;
  }
  tab-item[data-child-ids]:hover tab-favicon {
    visibility: hidden;
  }
  tab-item:not(:hover) tab-twisty {
    display: none !important;
  }
  .newtab-button {
    text-align: left !important;
  }
  .newtab-button-box::after {
    content: 'New Tab';
    position: absolute;
    left: calc(var(--svg-small-icon-size) + var(--theme-spacing) + 1ch);
    height: 100%;
    display: flex;
    align-items: center;
  }
  .newtab-action-selector-anchor {
    padding: 0 !important;
  }
  .newtab-action-selector-anchor::after {
    margin: auto !important;
  }
  .after-tabs button,
  .after-tabs [role="button"] {
    padding: var(--theme-spacing) !important;
  }
}
